@media print{
  $primary: rgb(172, 140, 65);
  $secondary: rgb(18,18,18);

  body{
    background: white;
    color: black;
    width: 100vw;
    height: auto;
  }
  #content{
    width: 100vw;
    height: auto;
    position: relative;
  }
  h1{
    display: none;
  }
  .wrapper{
    background: white;
    color: black;
    border-color: black;
    -webkit-box-shadow: 8px 8px 2px -5px black;
    box-shadow: 8px 8px 2px -5px black;
    display: none;
    margin-left: 2.5%!important;
    margin-top: 24px!important;
    position: relative!important;
    width: 95%;
    height: fit-content;
    left: 0!important;
    top: 0!important;
    break-inside: avoid;
    &.print-active{
      display: block;
    }
  }
  .zoom-in-out, .back, .print-button, .menu-icon{
    display: none;
  }
  .halftone{
    &:after{
      filter: grayscale(1);
      transform: rotate(0deg);
    }
  }
  .answer-link{
    color: black;
  }
  .checkbox-container{
    display: none;
  }
  .button{
    display: none;
  }
  .menu{
    display: none;
  }
}